.detail_component{
     font-family: 'Bebas Neue',Times,serif;
  background-image: url('https://images6.alphacoders.com/728/728598.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x:hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  position: relative;
}

.allCard{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue',Times,serif;
    

}

.cardDetail{
    display: flex;    
    flex-direction: row;
    align-items: center;  
    justify-content: space-evenly;
    border-color: aliceblue;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: #000000b9;
    width: 80%;  
    background-size: 200% auto;
    
}


.containterLeft{
    text-align:justify;
    padding: 20px 40px;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;  
    
}


.containterRight_detail{
   height: 100%;
   margin: auto;
   font-size: 5px;
   color: #eee;
   justify-content: center;
   align-items: center;

} 
    


.info{
 display: flex;
 flex-direction: column;
    background: #efb810;
    padding: 20px;
    color: black;
    font-size: 40px;
}
.imgDetailCard{
    
    width: 70%;
    max-width: 400px;
    border: #efb810 3px solid;
    height: auto;
}

.loading{   
    width: 100%;
    color: #efb810;
    height: 600PX;    
    font-size: 40px;
    
}
.loading img{
    
    width: 200px;
    height: 200px;

}


.ButtonBack{
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase ;
    transition: 0.5s;
    background-size: 200% auto;
    background-color: #efb810;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer; 
    border-radius: 25px;

}
.ButtonBack:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
    color:rgb(255, 255, 255);
    background-color: #000000;
}